@import "tailwindcss";

@theme {
    --color-page-bg: #050505;
    --font-sans: "Inter", "San Francisco", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

@layer base {
    body {
        background-color: var(--color-page-bg);
        font-family: var(--font-sans);
        letter-spacing: -0.015em;
        /* tracking-tight */
        @apply text-white/90 antialiased overflow-x-hidden;
    }
}